
{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="item-detail">
    <h3 style="font-weight: bold; padding-bottom:8px">{{ apartment.title }}</h3>
<img src="{{apartment.image.url}}" alt="apartment image" style="width:100%;height:200px; object-fit:cover">
<p>{{ apartment.description }}</p>
<p>Contact: {{ apartment.owner_contact }}</p>
<p>Price per Month: {{ apartment.price }} Rwf</p>
<p>Location: {{ apartment.location }}</p>

 </div>
 <h2 style="text-align: center; margin-top:20px">Featured images</h2>
 <div class="featured-images">
    {% for featured_image in apartment.featured_images.all %}
    <img src="{{ featured_image.image.url }}" width="300" height="200"  onclick="openModal(this);" />
    {% endfor %}
  </div>

  <div id="modal" class="modal">
    <span class="close" onclick="closeModal();">&times;</span>
    <img class="modal-content" id="modalImage">
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock  %}